/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* * Selector to apply to ALL styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: black;
    width: 100%;
    display: flex;
    position: fixed;
    max-height: 5em;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Styles for the Logo IMAGE */
#logo {
    padding: 6px;
    margin-top: 1px;
    border-radius: 50%; /* Turns #logo into a circle */
}

/* Styles for the Logo TEXT */
#logo2 {
    font-size:large;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 6px;
}

/* Styles for the Nav Menu */
#menu {
    display: block;
    justify-content: center;
    list-style-type: none;
}

#menu > li {
    padding: 5px;
}

.active {
    border-bottom: 1px solid slateblue;
}

/*  Navbar styles for dropdown toggle */
nav {
    position: absolute;
    right: 0;
    padding: 6px;
    display: none;
    background-color: black;
    width: fit-content;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 6px 1rem;
}

/* Main Content */
main {
    background: url("../images/cover2.png") no-repeat center center/cover; /* Real Madrid Logo set as background */
    /* Style below added to push footer to the bottom of the page */
    flex: 1 0 auto;
    
    /* Top margin applied to main to push content below Header */
    margin-top: 77px;
}

section {
    display: block;
    border: 3px solid purple;
    margin: 5px; /* Applied some margins so the background image is more noticeable */
}

/* styles applied to the divs in the section so they apply flexbox */
section,  div {
    display: flex;
    border: 1px solid slateblue;
    justify-content: space-between;
}

/* Footer */
#social {
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: 1px solid slategray; /* Added little border on the top so footer stands out due to BG image's color */
}

/* Below styles added to i elements so they look better in the footer */
#social i {
    font-size: 160%;
    color: white;
    padding: 5px;
}

/* Media query for tablets (768px +) */
@media screen and (min-width: 768px) {

    /* Header */


    /* Styling Nav elements so it appears inside the header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-right: 1rem;
    }
}

/* Media query for laptops (992px +) */
@media screen and (min-width: 992px) {
    /* gives the elements an underlined when ohvered on */
    #menu a:hover {
        border-bottom: 1px solid slateblue;
    }
}
