/* * Selector to apply to ALL styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Added below to avoid having to repeat throughout */
ul {
    list-style-type: none;
}

/* Header */
header {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    position: fixed;
    max-height: 5em;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid slateblue;
    /* Added slight bottom border to header to distinguish it easier */
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Styles for the Logo IMAGE */
#logo {
    padding: 6px;
    margin-top: 1px;
    border-radius: 50%;
    /* Turns #logo into a circle */
}

/* Styles for the Logo TEXT */
#logo2 {
    font-size: large;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 6px;
}

/* Styles for the Nav Menu */
#menu {
    display: block;
    justify-content: center;
    list-style-type: none;
}

#menu>li {
    padding: 5px;
    position: relative;
}

.active {
    border-bottom: 1px solid slateblue;
    /* Adds a line under the active page */
}

/*  Navbar styles for dropdown toggle */
nav {
    position: absolute;
    right: 0;
    padding: 6px;
    display: none;
    background-color: black;
    width: fit-content;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 6px 1rem;
}

/* Main Content */
main {
    background: url("../images/cover2.png") fixed center/cover;
    /* Real Madrid Logo set as background */
    background-size: 500px;
    margin-top: 4em;
    background-color: rgb(29, 51, 97);
    /* Style below added to push footer to the bottom of the page */
    flex: 1 0 auto;

    /* Top margin applied to main to push content below Header and keep it on top of the footer */
    margin-top: 77px;
    margin-bottom: 3em;
}

/* Style below added so that the div titles align in the center of their div*/
h2 {
    text-align: center;
}

/* Styles for the divs in the main content */
div {
    display: block;
    margin: 5px;
    /* Applied some margins so the background image is more noticeable */
    min-height: 50px;
}

/* INDEX PAGE */
#top h2 {
    text-decoration: underline;
    margin-bottom: 0.25em;
}

/* Styles for the Trophy div */
#trophies {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(243, 170, 31);
    text-align: center;
    padding: 1rem;
}

/* Styles for Scorers Table */
#scorers {
    background-color: rgba(179, 167, 255, 0.86);
    color: black;
    /* Adds colour and transparency to this div */
    text-align: center;
    /* Makes the content in the scorers table align nicely */
    padding: 0.25em;
    margin: 5px;
}

#gs {
    margin: auto;
}

/* Styles applied below to override style4s below applied to squad screen */
#gs-table {
    font-size: 13px;
    /* Makes the header row font look better and not overflow */
    font-weight: bold;
    display: table;
}

#gs tr {
    display: table-row;
}

#gs td {
    border-bottom: blue solid 1px;
    /* Makes thetable look better by giving the rows a bottom border */
    padding: 2px;
    display: table-cell;
}

.goal {
    font-weight: bold;
}

/* Styles for the Bernabeu renovations video div */
#bernabeu {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 1em;
    border: none;
    /* Aligns the headline and video to the middle*/
}

#bern-vid {
    width: 90%;
    height: 25%;
    /* Makes video size responsive but need to amend for tablets and bigger */
    padding-bottom: 0.25em;
}

/* Styles for the middle section (links) */
#middle {
    display: flex;
}

/* Squad Box Styles*/
#squad-link {
    color: black;
    background-color: rgba(192, 192, 192, 0.75);
    text-align: center;
    padding: 1em;
}

#button1 {
    background-color: black;
    color: silver;
    border: 1px solid silver;
    border-radius: 25%;
    margin-top: 0.25em;
    padding: 5px;
    font-size: xx-large;
    min-width: 25%;
}

/* Form Box Styles*/
#form-link {
    color: white;
    background-color: rgba(0, 0, 100, 0.75);
    text-align: center;
    padding: 1em;
}

#button2 {
    background-color: silver;
    color: black;
    border: 1px solid black;
    border-radius: 25%;
    padding: 5px;
    font-size: xx-large;
    min-width: 25%;
    margin-top: 0.25em;
}

/* Styles applied to both internal link boxes to maintain previous appearance after amending button to <a> only*/
#squad-link>h2, #form-link>h2 {
    padding-bottom: 15px;
}

/* Styles for bottom section */
#bottom {
    display: block;
    margin: 0.25rem;
    text-align: center;
    text-decoration: none;
    padding: 0.25rem;
    background-color: rgba(255, 215, 0, 0.75);
    color: #580099;
    min-height: fit-content;
}

#official-link {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#official-link>a {
    margin: auto;
    margin-bottom: 0.25rem;
    text-decoration: none;
}

#button3 {
    background-color: rgb(29, 16, 116);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 5px;
    font-size: x-large;
    min-width: 45%;
    margin-bottom: 1rem;
}

#button4 {
    background-color: white;
    border: 1px solid rgb(29, 16, 116);
    color: rgb(168, 143, 0);
    padding: 5px;
    font-size: x-large;
    min-width: 45%;
    margin-bottom: 1rem;
}

/* SQUAD PAGE */
#squadlist {
    text-align: center;
}

.boxes {
    margin: auto;
    margin: 1em;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    overflow-x: auto;
}

.cards {
    border: none;
}

/* Style below only applies to the roles in the squad section */
.role {
    text-align: center;
    text-transform: uppercase;

    color: gold;
    border-bottom: 2px solid gold;
}

.ind_role h4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: gold;
    font-size: 125%;
    border-bottom: 1px solid gold;
    text-decoration: overline 1px solid gold;
}

div>img {
    height: 350px;
    padding-top: 9px;
}

/* FORM PAGE */
#signup {
    /* Adds and styles an image for the form's background */
    background-image: url("../images/CELEB.jpg");
    opacity: 0.85;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0.5em;
    height: 81vh;
}

#signup form {
    margin: 1%;
    display: block;
    padding: 5px;

}

/* Styles the form's header */
#form-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 0.25em;
    background-color: rgba(0, 0, 0, 00.75);
    border-radius: 15%;
}

form>div {
    border: 1px solid gold;
    margin: 0.5em 0 0.5em 0;
    min-height: fit-content;
    align-items: center;
}

.form_label {
    margin: 2px;
    padding: 3px;
    opacity: 0.9;
}

/* Background colours for form sections so they look more appealing to the user */
#meet-greet {
    background-color: rgba(192, 192, 192, 0.3);
    padding: 3px;
    display: flex;
    flex-direction: column;
    height: 70vh;

}

#details {
    padding: 0.25em;
}

#details>label {
    text-decoration: 1px solid white;
}

.text-input {
    margin: 0.25em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
}

#combined {
    border: none;
}

#combined div {
    border: 1px solid gold;
}

/* Background colours for form sections so they look more appealing to the user */
#radio {
    background-color: rgba(46, 204, 113, 0.1);
    justify-content: center;
}

/* Makes the position section in the form look better by centering its contents */
#radio h4,
#radio div {
    text-align: center;
    padding: 0.25em;
    margin: 3px;
}

#radio div {
    display: inline-flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
   }

.form-position {
    margin-top: 5px;
}

/* Background colours for form sections so they look more appealing to the user */
#dropdown {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25em;
    align-items: center;
}

#player_list {
    border: 1px solid gold;
    background-color: rgba(192, 192, 192, 0.5);
    color: white;
    display: block;
    margin: 0.25em auto;
    padding: 0.25em;
}

option {
    background-color: black;
}

/* Background colours for form sections so they look more appealing to the user */
#fieldset {
    background-color: rgba(90, 34, 139, 0.5);
    padding: 0.25em;
}

/* Styles for the Comment Section */
fieldset {
    padding: 0.25em;
}

#comment {
    display: block;
    margin: 0.25em auto;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid white;
    color: white;
}

#submit {
    display: block;
    margin: 0.25em auto;
    padding: 5px;
    min-width: 35%;
    background-color: white;
    color: #580099;
}

/* SUBMISSION PAGE */
#submission {
    background: url(../images/Thumbs_up.webp) fixed center no-repeat;
    opacity: 0.95;
    border-radius: 10%;
    position: relative;
    color: white;
    margin: 0.5em;
    height: 70vh;
    margin-top: 15%;
    margin-bottom: 15%;
    z-index: 1;
}

#submission_message {
    position: absolute;
    bottom: 10%;
    left: 2.5%;
    padding: 0.5rem;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    text-align: center;
    font-size: large;
}

/* Footer */
/* Styles added to ensure footer is fixed and sticks to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
    background-color: black;
    min-height: 3em;
}

#social {
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: 1px solid slategray;
    /* Added little border on the top so footer stands out due to BG image's color */
}

/* Below styles added to i elements so they look better in the footer */
#social i {
    font-size: 160%;
    color: white;
    padding: 5px;
}

/* Media query for tablets (768px +) */
@media screen and (min-width: 768px) {

    /* Header */
    /* Styling Nav elements so it appears inside the header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 1rem;
    }

    /* INDEX PAGE */
    /* Making the top section responsive */
    #top {
        display: flex;
        margin: auto;
    }

    /* Resizing the socrers table */
    #scorers {
        padding-right: 5px;
    }

    #trophies,
    #scorers {
        width: 50%;
    }

    /* Pushes scorers section content down so it looks better */
    #scorers h2 {
        margin-top: 3rem;
    }

    #gs {
        margin-top: 3rem;
    }

    #bern-vid {
        height: 256px;
        padding-bottom: 1em;
    }

    /* SQUAD PAGE */
    .role {
        width: 100%;
    }

    .ind_role {
        width: 45%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    div>img {
        height: 400px;
        padding-top: 9px;
    }

    /* FORM PAGE */
    #form-header {
        margin: 10px;
    }

    #signup {
        /* Makes Bellingham image semi transparent as looks better and no issue with dropdown due to menu being in the header */
        opacity: 0.9;
        width: 85%;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    /* Centers content so it doesn't look so wide */
    #signup form {
        width: 95%;
        margin: auto;
        height: auto;
    }

    #combined {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #details {
        display: flex;
        max-width: 45%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .option {
        border: none;
    }

#radio {
    max-width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#dropdown {
    width: 90%;
    margin: auto;
}

    /* SUBMISSION PAGE */
    #submission {
        margin-top: 1rem;
        margin-left: 15%;
        margin-right: 15%;
    }

    #submission_message {
        max-width: 55%;
        margin: 400px auto auto 50px;
    }
}

/* Media query for laptops (992px +) */
@media screen and (min-width: 992px) {

    /* gives the elements an underlined when ohvered on */
    #menu a:hover {
        border-bottom: 1px solid slateblue;
    }

    /* Styles below applied to goalscorers table to center it in its box and text bigger */
    #scorers {
        padding: 0.25em;
        flex-grow: 1;
        font-size: large;
    }

    #gs-table {
        font-size: large;
    }

    #gs {
        margin: auto;
        padding-top: 1em;
    }

    /* Styles below to make iframes look more proportional*/
    #bernabeu>iframe {
        height: 450px;

    }

    /* Styles for link buttons */
    #middle div {
        width: 45%;
        margin: auto;
    }

    /* SQUAD PAGE */
    .role {
        width: 100%;
    }

    .ind_role {
        width: 31%;
    }

    div>img {
        height: 400px;
        padding-top: 9px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        border: none;
    }

    /* FORM PAGE */
    #signup {
        /* Makes Bellingham image semi transparent as looks better and no issue with dropdown due to menu being in the header */
        opacity: 0.9;
        width: 90%;
        margin-top: 0.65em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    /* Centers content so it doesn't look so wide */
    #signup form {
        width: 95%;
        margin-top: 2rem;
        margin: auto;
    }

        #combined {
        display: inline-flex;
    }

    #details {
        max-width: 30%;
    }

    #position {
        width: 100%;
    }
    
    #radio .option {
        display: inline-flex;

    }

    #dropdown {
          width: 23%;
          flex-shrink: 1;
    }

}

/* Media query for laptops (1024 +) */
    @media screen and (min-width: 1440px) {

        /* SQUAD PAGE */
        /* Makes the squad role sections look better by grouping 4 images per row */
        .ind_role {
            width: 22%;
        }

        /* FORM PAGE */
        #signup form {
            margin-top: 77px;
        }
        
        #combined {
            justify-content: space-around;
            width: 95%;
            margin: auto;
        }
        
        #details {
            max-width: 20%;
        }

        #position {
            width: 100%;
        }

        #radio {
            max-width: 35%;
        }
          
        #radio .option {
            display: inline-flex;
    
        }
    
        #dropdown {
              width: 23%;
                 }
    
                 #fieldset {
                    margin: auto;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    width: 75%;
                 }

        /* SUBMISSION PAGE */

        #submission_message {
            left: 15%;
        }
    }

    /* Media queries for landscape phones */
    @media screen and (orientation:landscape) {
        #signup {
            position: relative;
            /* Styles the bg image and form size on landscape phones */
            background-image: url("../images/CELEB.jpg");
            opacity: 0.85;
            background-size: cover;
            background-position: center;
            color: white;
            margin: 1% auto;
            height: 575px;
        }
    }