/* * Selector to apply to ALL styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Added below to avoid having to repeat throughout */
ul {
    list-style-type: none;
}

/* Header */
header {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    position: fixed;
    max-height: 5em;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid slateblue;
    /* Added slight bottom border to header to distinguish it easier */
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Styles for the Logo IMAGE */
#logo {
    padding: 6px;
    margin-top: 1px;
    /* Turns #logo into a circle */
    border-radius: 50%;
}

/* Styles for the Logo TEXT */
#logo2 {
    font-size: large;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 6px;
}

/* Styles for the Nav Menu */
#menu {
    display: block;
    list-style-type: none;
}

#menu>li {
    padding: 5px;
    position: relative;
}

.active {
    border-bottom: 1px solid slateblue;
    /* Adds a line under the active page */
}

/*  Navbar styles for dropdown toggle */
nav {
    position: absolute;
    right: 0;
    padding: 6px;
    display: none;
    background-color: black;
    width: fit-content;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 6px 1rem;
}

/* Main Content */
main {
    background: url("../images/cover2.png") fixed center/cover;
    /* Real Madrid Logo set as background */
    background-size: 500px;
    margin-top: 4em;
    background-color: rgb(29, 51, 97);
    /* Style below added to push footer to the bottom of the page */
    flex: 1 0 auto;

    /* Top margin applied to main to push content below Header and keep it on top of the footer */
    margin-top: 77px;
    margin-bottom: 3em;
}

/* Style below added so that the div titles align in the center of their div*/
h2 {
    text-align: center;
}

/* Styles for the divs in the main content */
div {
    display: block;
    margin: 5px;
    /* Applied some margins so the background image is more noticeable */
    /*min-height: 30px;*/
}

/* INDEX PAGE */
#top h2 {
    text-decoration: underline;
    margin-bottom: 0.25em;
}

/* Styles for Scorers Table */
#scorers {
    background-color: rgba(179, 167, 255, 0.86);
    color: black;
    /* Adds colour and transparency to this div */
    text-align: center;
    /* Makes the content in the scorers table align nicely */
    padding: 0.25em;
    margin: 5px;
}

#gs {
    margin: auto;
}

/* Styles applied below to override style4s below applied to squad screen */
#gs-table {
    font-size: 13px;
    /* Makes the header row font look better and not overflow */
    font-weight: bold;
    display: table;
}

#gs tr {
    display: table-row;
}

#gs td {
    border-bottom: blue solid 1px;
    /* Makes thetable look better by giving the rows a bottom border */
    padding: 2px;
    display: table-cell;
}

.goal {
    font-weight: bold;
}

/* Styles for the Trophy div */
#trophies {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(243, 170, 31);
    text-align: center;
    padding: 1rem;
}

/* Styles for the Bernabeu renovations video div */
#bernabeu {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1em;
    /* Aligns the headline and video to the middle*/
    text-align: center;
}

#bern-vid {
    width: 90%;
    height: 25%;
    border: none;
    /* Makes video size responsive */
    padding-bottom: 0.25em;
}

/* Styles for the middle section (links) */
#middle {
    display: flex;
}

/* Squad Box Styles*/
#squad-link {
    color: black;
    background-color: rgba(192, 192, 192, 0.75);
    text-align: center;
    padding: 1em;
}

#button1 {
    background-color: black;
    color: silver;
    border: 1px solid silver;
    border-radius: 25%;
    margin-top: 0.25em;
    padding: 5px;
    font-size: xx-large;
    min-width: 25%;
}

/* Form Box Styles*/
#form-link {
    color: white;
    background-color: rgba(0, 0, 100, 0.75);
    text-align: center;
    padding: 1em;
}

#button2 {
    background-color: silver;
    color: black;
    border: 1px solid black;
    border-radius: 25%;
    padding: 5px;
    font-size: xx-large;
    min-width: 25%;
    margin-top: 0.25em;
}

/* Styles applied to both internal link boxes to maintain previous appearance after amending button to <a> only */
#squad-link>h2,
#form-link>h2 {
    padding-bottom: 15px;
}

/* Styles for bottom section */
#bottom {
    display: block;
    margin: 0.25rem;
    text-align: center;
    text-decoration: none;
    padding: 0.25rem;
    background-color: rgba(255, 215, 0, 0.75);
    color: #580099;
    min-height: fit-content;
}

#official-link {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

#official-link>a {
    margin: auto;
    margin-bottom: 0.25rem;
    text-decoration: none;
}

#button3 {
    background-color: rgb(29, 16, 116);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 5px;
    font-size: x-large;
    min-width: 45%;
    margin-bottom: 1rem;
}

#button4 {
    background-color: white;
    border: 1px solid rgb(29, 16, 116);
    color: rgb(168, 143, 0);
    padding: 5px;
    font-size: x-large;
    min-width: 45%;
    margin-bottom: 1rem;
}

/* SQUAD PAGE */
#squadlist {
    text-align: center;
}

.boxes {
    margin: auto;
    margin: 1em;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
}

.cards {
    border: none;
}

/* Style below only applies to the roles in the squad section */
.role {
    text-align: center;
    text-transform: uppercase;

    color: gold;
    border-bottom: 2px solid gold;
}

.ind_role h4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: gold;
    font-size: 125%;
    border-bottom: 1px solid gold;
    text-decoration: overline 1px solid gold;
}

div>img {
    height: 300px;
    padding-top: 9px;
}

/* FORM PAGE */
#signup {
    /* Adds and styles the form's background */
    background-image: url("../images/CELEB.jpg");
    opacity: 0.85;
    background-size: cover;
    background-position: center;
    color: white;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    align-self: center;
    height: 82vh;
}

/* Styles the form's header */
#form_header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-grow: 2;
    text-align: center;
    padding-top: 0.25rem;
}

form {
    display: flex;
}

/* Styles the form with inputs */
#meet-greet {
    padding: 3px;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    border: 1px solid gold;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
}

#details,
#radio,
#dropdown,
#fieldset {
    /* Width here makes all the items look ok on a small phone screen, but will be overridden on larger sizes to fit more content */
    min-width: 100%;
}

/* Styles the form elements between the header and the submit button */
#combined {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

/* Styles the personal details div */
#details {
    display: flex;
    align-self: center;
    justify-content: center;
}

#details_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#details>label {
    text-decoration: 1px solid white;
}

.text_input {
    margin: 0.1em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
}

/* Styles the headers in the position sections */
.position {
    text-align: center;
    margin: auto;
    }

/* Position Dropdown Styles */
#dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player_list {
    border: 1px solid gold;
    background-color: rgba(192, 192, 192, 0.5);
    color: white;
    margin: 2% auto;
    padding: 0.25em;
    justify-self: center;
    }

/* Styles the dropdown lists's colour */
option {
    background-color: black;
}

/* Div containing radio button options on the Lotto Page */
#position_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    border: none;
}

.option {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: none;
   align-self: center;
    margin: auto;
}

.form_label {
    margin: auto;
    padding: 0.2rem;
}

/* Styles for the Comment Section */
#fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    display: flex;
    border: none;
    flex-wrap: nowrap;
    justify-content: center;
}

fieldset {
    padding: 0.25rem;
    min-width: 100%;
}

/* Styles the text input part in the comment section*/
textarea:focus {
    border: 1px solid gold;
    outline: none;    
}

#comment {
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.65);
        color: white;
}

/* Submit Button */
#submit {
    display: block;
    margin: 0.25em auto 1.25em;
    padding: 2px;
    min-width: 30%;
    background-color: white;
    color: #580099;
}

/* SUBMISSION PAGE */
#submission {
    background-image: url(../images/Thumbs_up.webp);
    opacity: 0.95;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
        position: relative;
    color: white;
    height: 82vh;
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 1;
}

#submission_message {
       padding: 0.25rem;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5%;
    text-align: center;
    font-size: large;
align-self: center;
}

/* Styles the form's header */
#form_header {
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 flex-grow: 2;
 text-align: center;
 padding-top: 0.25rem;
}

/* Footer */
/* Styles added to ensure footer is fixed and sticks to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-top: auto;
    background-color: black;
    min-height: 3em;
}

#social {
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-top: 1px solid slategray;
    /* Added little border on the top so footer stands out due to BG image's color */
}

/* Below styles added to i elements so they look better in the footer */
#social i {
    font-size: 160%;
    color: white;
    padding: 5px;
}

/* Media query for tablets (768px +) */
@media screen and (min-width: 768px) {

    /* Header */
    /* Styling Nav elements so it appears inside the header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-right: 1rem;
    }

    /* INDEX PAGE */
    /* Making the top section responsive */
    #top {
        display: flex;
        margin: auto;
    }

    /* Resizing the socrers table */
    #scorers {
        padding-right: 5px;
    }

    #trophies,
    #scorers {
        width: 50%;
    }

    /* Pushes scorers section content down so it looks better */
    #scorers h2 {
        margin-top: 3rem;
    }

    #gs {
        margin-top: 3rem;
    }

    #bern-vid {
        height: 256px;
        padding-bottom: 1em;
    }

    /* SQUAD PAGE */
    .role {
        width: 100%;
    }

    .ind_role {
        width: 45%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    div>img {
        height: 400px;
        padding-top: 9px;
    }

    /* FORM PAGE */
    #form_header {
        padding-bottom: 0.25rem;
    }

    #details,
    #radio,
    #dropdown,
    #fieldset {
        border: 1px solid gold;
        background-color: rgba(0, 0, 0, 0.6);
        /* Width here makes the items look ok on a larger sized screen */
        width: 45%;
        min-width: 308px;
    }

    #radio {
        align-content: center;
    }

    #position_box {
        padding: 3%;
    }

    /* SUBMISSION PAGE */
    #submission {
        width: 500px;
        margin: auto;
    }

    #submission_message {
        align-self:center;
   margin: auto;
    }
}

/* Media query for laptops (992px +) */
@media screen and (min-width: 992px) {

    /* gives the elements an underlined when hovered on */
    #menu a:hover {
        border-bottom: 1px solid slateblue;
    }

    /* Styles below applied to goalscorers table to center it in its box and text bigger */
    #scorers {
        padding: 0.25em;
        flex-grow: 1;
        font-size: large;
    }

    #gs-table {
        font-size: large;
    }

    #gs {
        margin: auto;
        padding-top: 1em;
    }

    /* Styles below to make iframes look more proportional*/
    #bernabeu>iframe {
        height: 450px;

    }

    /* Styles for link buttons */
    #middle div {
        width: 45%;
        margin: auto;
    }

    /* SQUAD PAGE */
    .role {
        width: 100%;
    }

    .ind_role {
        width: 31%;
    }

    div>img {
        height: 400px;
        padding-top: 9px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        border: none;
    }

    /* FORM PAGE */
    #details,
    #fieldset {
      width: 50%;
    }

    #radio,
    #dropdown {
        width: 25%;
    }
}

/* Media query for laptops (1024 +) */
@media screen and (min-width: 1440px) {
    /* SQUAD PAGE */
    /* Makes the squad role sections look better by grouping 4 images per row */
    .ind_role {
        width: 22%;
    }  
}